:root {
  --espaco-padrao: 12px;
}

/* Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#cartoes {
  width: 720px;
  margin: auto;
  padding: var(--espaco-padrao);
  list-style: none;
  background-color: red;
}

.cartao {
  width: 150px;
  height: 200px;
  margin: var(--espaco-padrao);
  display: inline-block;
  position: relative;
}

.frente {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  
  transition: transform 1s;
}

.verso {
  width: 100%;
  height: 100%;
  background-color: green;
  position: absolute;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  transition: transform 1s;
}

.visivel > .frente{
  transform: rotateY(0deg);
}

.visivel > .verso{
  transform: rotateY(180deg);
}


