:root {
  --espaco-padrao: 12px;
}

/* Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Emilys Candy", cursive;
}

header {
  width: 100%;
  height: 64px;
  padding: 12px;
  text-align: center;
}

#titulo {
  background-color: #7c3c3c;
  color: white;
  width: 30%;
  height: 72px;
  margin: 32px auto;
  padding: 12px;
  font-size: 2.5em;
  border-radius: 48px 48px 0px 0px;
  text-shadow: 3px 3px 8px #3e1d1d;
}

#container {
  width: 780px;
  margin: 48px auto;
  padding: 16px 24px 64px 24px;
  background-color: #7c3c3c;
  border-radius: 32px 32px 64px 64px;
}

#cartoes {
  width: 100%;
  padding: 32px var(--espaco-padrao);
  list-style: none;
  background-color: #f5bb7a;
  border-radius: 16px 16px 72px 72px;
  box-shadow: 0px 8px 8px #3e1d1d;
  /* border-top: 8px solid #7C3C3C;
  border-right: 16px solid #7C3C3C;
  border-bottom: 64px solid #7C3C3C;
  border-left: 16px solid #7C3C3C; */
}

.cartao {
  width: 150px;
  height: 200px;
  margin: var(--espaco-padrao);
  display: inline-block;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.frente {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 8px solid #7c3c3c;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s;
}

.verso {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 8px solid #7c3c3c;
  background: linear-gradient(#fff141, #c3843d);
  position: absolute;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 1s;
}

.visivel > .frente {
  transform: rotateY(0deg);
}

.visivel > .verso {
  transform: rotateY(180deg);
}
